/*-------------------------------------*\
    $PANE
\*-------------------------------------*/

/**
 * Pane
 *
 **
 * Base
 * Isotopes
 * Implementation
 *

 *
 */

.pane,
%pane {
    height: 100%;
    height: 100vh;

    background: #f1fffc;

    display: block;
    overflow: hidden;
}





