<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=q">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,initial-scale=1,target-densitydpi=device-dpi">
    <link rel="shortcut icon" href="/favicon.png">

    <title>{{ page.title }}</title>


    <!-- Web Fonts -->

    <!-- Styles -->
    {{#each page.styles }}
    <link rel="stylesheet" href="/assets/css/{{this}}.css">
    {{/each}}
    <link rel="stylesheet" href="/assets/css/main.css">

    <script src="/socket.io/socket.io.js"></script>

</head>
    <!--
    -->
<body id="app" class="js-vm-app"
    v-on="
        keydown: keydown,
        keyup: keyup,
        keypress: keypress,
        mousedown: mousedown,
        mouseup: mouseup,
        mousewheel: mousewheel,
    ">

    <section class=" [ app  app--loading ] ">
        <router-view></router-view>
    </section>

    {{> components/panes/home }}
    {{> components/panes/settings }}
    {{> components/panes/servers }}
    {{> components/panes/game }}

    <!-- Scripts -->
    {{#each page.scripts }}
    <script src="/assets/js/{{this}}.js"></script>
    {{/each}}
    <script src="/assets/js/{{default vm 'main'}}.js"></script>
</body>
</html>

